# Chứa các tệp và thư mục không cần thiết trong kho lưu trữ Git, không cần theo dõi.
db.sqlite3 # Cơ sở dữ liệu SQLite
__pycache__/ # Thư mục chứa các tệp bytecode Python
staticfiles/ # Thư mục chứa các tệp tĩnh được thu thập
.env # Tệp biến môi trường
venv/ # Môi trường ảo Python
media/ # Thư mục chứa các tệp media (ảnh, tài liệu...) được người dùng tải lên
note.md #Bỏ qua file note.md hok đưa lên git.